<div class="form-header">

  <!-- Define input com id #myInput. Com <enter> chama método doSearch passando valor informado no input -->  
  <input #myInput type="text" 
         placeholder="Search for data ..."
         class="au-input au-input-xl" 
         (keyup.enter)="doSearch(myInput.value)" />

  <!-- Define botao que, quando clicado, chama método doSearch passando valor informado no input -->         
  <button (click)="doSearch(myInput.value)" class="au-btn-submit" >
    Search
  </button>

</div>
